<style>
    main {
      margin-top: 100px;
      margin-bottom: 100px;
    }

    @media screen and (max-width: 768px) {

    }
</style>

<div class="container pt-0 mt-2" id="page-container">
    <h1 class="text-center">Edit Your Post</h1>
    <!-- Card section -->
    <div class="d-flex py-3 justify-content-center">
        <div class="row w-100">
            {{!-- each template --}}
            {{#if post}}
            <div class="card col-lg-12 col-md-8 col-sm-4 m-2 p-0 drink-container" data-drinkid="{{post.drink_id}}" data-postid="{{post.id}}">
                <div class="row no-gutters">
                    {{!-- Card Image --}}
                    <div class="col-lg-4 col-md-2 col-sm-1 p-0">
                    <img src="{{post.drink_image}}/preview" class="card-img h-100" alt="...">
                    </div>
                    <div class="col-lg-8 col-md-4 col-sm-2">
                        {{!-- Card Header --}}
                        <div class="card-header text-left">
                            <input maxlength="25" type="text" value="{{post.title}}" name="review-title" id ="review-title">
                            <p class="card-title">Drink Name: {{post.drink_name}}</p>
                        </div>
                        {{!-- Card Body --}}
                        <div class="card-body pb-0">
                            {{!-- <p class="card-text">{{review}}</p> --}}
                            <textarea class="col-md-6 col-sm-3 " maxlength="200" name="review-text" id="review-text" cols="60" rows="10">{{post.review}}</textarea>
                            {{!-- Update Buttons --}}
                            <div class="row">
                            <button class="btn btn-info col-lg-2 col-md-1 m-1" id="update-button">Update</button>
                            <button class="btn btn-danger col-lg-2 col-md-1 m-1" id="delete-button">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/if}}
        </div>
    </div>

<script src="/javascript/edit.js"></script>